.carousel
  .carousel-item.prev-element 
  .carousel-item.current-element 
  .carousel-item.next-element 
.controls
  .prev
    include ./icons/angle-left.pug
  .next
    include ./icons/angle-right.pug
