main.screenshot-edit form
  width: 100%
  display: flex
  flex-direction: column
  input, textarea
    color: $white
    outline: 0
  input[type='text']
    text-transform: uppercase
    background: none
    border: none
    font-size: 1.5em
    text-align: center
  input[type='file']
    margin-left: 1em
    width: 250px
  input[type='submit']
    display: block
    color: $black
  textarea
    background: none
    border: none
    font-size: 1em
    font-family: $text-font
    resize: vertical
  img.preview
    width: 100%
    margin: 1em 0
    border-radius: 5px
    background: linear-gradient(15deg, transparentize($white, 0.8), transparent, transparentize($white, 0.8))
  .fileUpload
    display: flex
    justify-content: center
main.news-edit, main.campaign-edit
  form
    width: 100%
    input
      outline: 0
      width: 100%
    input[type='submit']
      width: auto
      margin: 0.5em 0 0 0
    input[type='text']
      text-transform: uppercase
      margin-bottom: 0.5em
    .fileUpload
      margin-top: 0.5em
      position: relative
      input[type='file']
        display: inline
      img.preview
        position: absolute
        max-width: 300px
        left: 0
        top: 100%
        border-radius: 5px
        border: 1px solid transparentize($white, 0.75)

main.admin-area .news
  display: flex
  flex-wrap: wrap
  article.carousel-item
    flex: 1 0 50%

main.admin-area .screenshots, main.admin-area .campaigns
  display: flex
  align-content: stretch
  align-items: stretch
  justify-content: center
  flex-wrap: wrap

main.admin-area .screenshots
  .screenshot
    position: relative
    text-align: center
  .description
    position: absolute
    bottom: 0
    width: 100%
    p
      display: none
    h2
      margin: 0
      text-transform: uppercase

  img
    max-height: 200px

main.admin-area .add-element
  margin-top: 1em
  display: flex
  justify-content: center
  a
    padding: 0.5em
    background: $white
    color: $black
    border-radius: 0.25em
    text-transform: uppercase
    transition: 0.2s ease-in-out
    &:hover
      filter: drop-shadow(0 0 5px transparentize($white, 0.66))

main.campaign-edit .image-select, main.campaign-edit .screenshots-select
  display: flex
  align-content: stretch
  justify-content: center
  align-items: stretch
  .screenshot
    position: relative
    display: inline-block
    max-height: 75px
    input
      position: absolute
      right: 0
      bottom: 0
    img
      max-height: 100%
