extends layout

block content
  main.admin-area
    section
      .content
        h1 News
        if articles.length > 0
          .news
            each news,index in articles
              include includes/article.pug
                .controls 
                  button Edit
                  button Delete
        else
          p At the moment there aren't any news to display.
        .add-news
          a(href='/news/add') Add News
    section
      .content
        h1 Screenshots
        if screenshots.length > 0
          .screenshots
            each screenshot, index in screenshots
              include includes/lazyscreen.pug
                .controls
                  button Edit
                  button Delete
        else
          p At the moment there aren't any screenshots posted.
        .add-screenshot
          a(href='/screenshot/add') Add Screenshot
  script(src="/js/vendors/yall-2.2.1.min.js")
  script.
    document.addEventListener("DOMContentLoaded", yall);
  script(src='/js/utils.js')
  script(src='/js/admin.js')
