extends layout

block content
  main.error
    section
      .content
        h1= error.status
        if (error.status == 404)
          h2 These are not the droids you are looking for...
        else
          h2= error.message
        a(href='/') 
          img(src='/img/long-arrow-left.svg')
          |  Back to safety!
        
