extends layout

block content
  main.home-page
    header.header
      .title
        h1 First 
          span in
        h1 
          span Last 
          | out
      .subtitle ArmA 3 UK Relaxed Milsim Unit
      .call-to-action
        button 
          span About Us
        button 
          span Enlist now
    section.news
      .content
        h1 Latest 
          span News
          div 
            span Announcements 
            | | 
            span Events 
            | | 
            span Updates
        .carousel(data-newsId='0')
          if (articles.length > 0)
            each news,index in articles 
              include includes/article.pug
          else
            p(style='text-align: center') No news!
        .controls
          i.fas.fa-long-arrow-alt-left
          i.fas.fa-long-arrow-alt-right
    section.about
      .content
        h1 
          span Who 
          | are we?
        p The 
          a(href="#") Pathfinders Platoon
          |  is a unit of the British Army and an integral part of 
          a(href="#") 16
            sup th
            |   Air Assault Brigade
          | .
        img.logo(src="/img/unitlogobg.png")
        p The Platoon acts as the Brigade's advance and reconnaissance force. The Platoon was deployed on a wide variety of operations between 1948 and 1977.
        p Our roles include locating and marking drop zones, helicopter landing zones for air landing operations, forward reconnaissance, convoy guidance, unconventional military support, hostage rescue preparation, guiding air support and artillery and working with special forces teams from various nations and being the first unit into the combat zone.
        .duties
          .duty
            img(src='/img/recon.png')
            span Recon
          .duty
            img(src='/img/guidance.png')
            span Guidance
          .duty
            img(src='/img/fight.png')
            span Fight
        p We started our campaign timeline from early 1970's and will persue it to present day conflicts, built in a realistic atmosphere by expert mission makers who create custom terrains, models and addons for us to enjoy a unique experience. Not only do we care greatly about realism, our main focus is the community that we have passionately built up over 5 years of playing.

    section.operations
      .content
        h1 Operations
        p We require all our members to attend at least twice a week to our operations.
        p Operations take place in the following days: 
        .opdays
          div Monday
          div.side.opday Tuesday
          div Wednesday
          div.side.opday Thursday
          div Friday
          div.main.opday Saturday
          div Sunday
        p The time at which operations begin is: 
          b.time 19:30 
          a(href="https://www.timeanddate.com/worldclock/uk/london", target="_blank") British Time
          |  and last approximately 2H 30M.
    section.joining
      .content
        h1 How to 
         span join
        p We require you to fullfil the following conditions in order to apply:
        ul
          li 
            i.fas.fa-microphone
            span You must have a working microphone;
          li 
            i.fas.fa-people-carry
            span You must be willing to play in team;
          li 
            i.fas.fa-child 
            span You must be 16 years old or older;
          li 
            i.fas.fa-fire-alt
            span You must have a mature and relaxed attitude.
        p If you'd like to submit your application you can do so by filling out 
          a.enlist-form(href='https://docs.google.com/forms/d/10nlX3xsk6eLy6ngnObCGSTrsQqbnefeIKCnrUONDAZk' target="_blank") this
          | &nbsp;form.
  #modal
    .content
  script(src='/js/utils.js')
  script(src='/js/app.js')
