extends layout

block content
  main.home-page
    header.header
      .title
        h1 First 
          span in
        h1 
          span Last 
          | out
        .subtitle ArmA 3 UK Relaxed Milsim Unit
        .call-to-action
          a(href="#about") About Us
          a(href="https://docs.google.com/forms/d/10nlX3xsk6eLy6ngnObCGSTrsQqbnefeIKCnrUONDAZk" target='_blank') Enlist now
    section.news
      .content
        h1 Latest 
          span News
          div 
            span Announcements 
            | | 
            span Events 
            | | 
            span Updates
        .carousel(data-newsId='0')
          if (articles.length > 0)
            each news,index in articles 
              include includes/article.pug
          else
            p(style='text-align: center') No news!
        .controls
          i
            include includes/icons/long-arrow-left.pug
          i
            include includes/icons/long-arrow-right.pug
    section#about.about.lazy-bg
      .content
        h1 
          span Who 
          | are we?
        p The 
          a(href="https://en.wikipedia.org/wiki/Pathfinder_Platoon" target='_blank') Pathfinders Platoon
          |  is a unit of the British Army and an integral part of 
          a(href="https://en.wikipedia.org/wiki/16_Air_Assault_Brigade" target='_blank') 16 Air Assault Brigade
          | .
        picture.logo.lazy(data-aos="fade-left" data-aos-duration='1000')
          source(data-srcset='/img/unitlogobg.webp' type='image/webp')
          source(data-srcset='/img/unitlogobg.png' type='image/png')
          img.logo.lazy(data-src="/img/unitlogobg.png" data-aos="fade-left" data-aos-duration='1000')
        p The Platoon acts as the Brigade's advance and reconnaissance force. The Platoon was deployed on a wide variety of operations between 1948 and 1977.
        p Our roles include locating and marking drop zones, helicopter landing zones for air landing operations, forward reconnaissance, convoy guidance, unconventional military support, hostage rescue preparation, guiding air support and artillery and working with special forces teams from various nations and being the first unit into the combat zone.
        .duties
          .duty
            picture.lazy
              source(data-srcset='/img/recon.webp', type='image/webp')
              source(data-srcset='/img/recon.png', type='image/png')
              img.lazy(data-src='/img/recon.png')
            span Recon
          .duty
            picture.lazy
              source(data-srcset='/img/guidance.webp', type='image/webp')
              source(data-srcset='/img/guidance.png', type='image/png')
              img.lazy(data-src='/img/guidance.png')
            span Guidance
          .duty
            picture.lazy
              source(data-srcset='/img/fight.webp', type='image/webp')
              source(data-srcset='/img/fight.png', type='image/png')
              img.lazy(data-src='/img/fight.png')
            span Fight
        p We started our campaign timeline from early 1970's and will persue it to present day conflicts, built in a realistic atmosphere by expert mission makers who create custom terrains, models and addons for us to enjoy a unique experience. Not only do we care greatly about realism, our main focus is the community that we have passionately built up over 5 years of playing.

    section.operations
      .content
        h1 Operations
        p We require all our members to attend at least twice a week to our operations.
        p Operations take place in the following days: 
        .opdays
          div(data-aos='fade-up' data-aos-delay='1000' data-aos-duration='500') Monday
          div.side.opday(data-aos='fade-up' data-aos-duration='500') Tuesday
          div(data-aos='fade-up' data-aos-delay='1000' data-aos-duration='500') Wednesday
          div.side.opday(data-aos='fade-up' data-aos-duration='500') Thursday
          div(data-aos='fade-up' data-aos-delay='1000' data-aos-duration='500') Friday
          div.main.opday(data-aos='fade-up' data-aos-duration='500') Saturday
          div(data-aos='fade-up' data-aos-delay='1000' data-aos-duration='500') Sunday
        p The time at which operations begin is: 
          b.time 19:30 
          a(href="https://www.timeanddate.com/worldclock/uk/london", target="_blank") British Time
          |  and last approximately 2H 30M.
    section.joining.lazy-bg
      .content
        h1 How to 
         span join
        p We require you to fullfil the following conditions in order to apply:
        ul
          li(data-aos='fade-up' data-aos-duration='500') 
            include includes/icons/microphone.pug
            span You must have a working microphone;
          li(data-aos='fade-up' data-aos-duration='500') 
            include includes/icons/people-carry.pug
            span You must be willing to play in team;
          li(data-aos='fade-up' data-aos-duration='500') 
            include includes/icons/child.pug
            span You must be 16 years old or older;
          li(data-aos='fade-up' data-aos-duration='500') 
            include includes/icons/fire.pug
            span You must have a mature and relaxed attitude.
        p If you'd like to submit your application you can do so by filling out 
          a.enlist-form(href='https://docs.google.com/forms/d/10nlX3xsk6eLy6ngnObCGSTrsQqbnefeIKCnrUONDAZk' target="_blank") this
          | &nbsp;form.
        .call-to-action
          a(href='https://docs.google.com/forms/d/10nlX3xsk6eLy6ngnObCGSTrsQqbnefeIKCnrUONDAZk' target="_blank") Enlist now
           
    section.screenshots
      .content
        h1 Screenshots
        p Some memorable moments from our operations
        .gallery
          each screenshot, index in screenshots
            include includes/lazyscreen.pug
  #modal
    .content
      
block js
  script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
  script(src="/js/vendors/yall-2.2.1.min.js")
  script(src='/js/utils.js')
  script(src="/js/templates.js")
  script(src='/js/app.js')
