doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    block css
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    if ENV_DEVELOPMENT === true
      script(src='http://localhost:35729/livereload.js')
  body
    include includes/navbar.pug
    .frame.left
      .social
        a(href='https://discord.gg/mAXUwt', target='_blank')
          include includes/icons/discord.pug
        a(href='ts3server://no4commando.com?port=9987&nickname=Web%20Visitor')
          include includes/icons/teamspeak.pug
        a(href='https://steamcommunity.com/groups/britishpathfinders', target='_blank')
          include includes/icons/steam.pug
    block content
    .frame.right
    include includes/footer.pug
    .frame.bottom
      div
    block js
    script(src='/js/vendors/modernizr-custom.js')

  
